.message-section {
    background-color: #f3f3f3;
    direction: ltr;
    z-index: -999;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 25px;
    
}

.message-mention {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
}