.track-your-shipment-page{
  padding:10px 100px;
}
.shipment-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.no-shipment-section{
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  font-size: 20px;
}

.information-section{
  display: flex;
  justify-content: center;
  gap:40px;
  flex-wrap: wrap;
}

.address-question-section{
  display: flex;
  flex-direction: column;
}