.App {
  text-align: center;
}

body {
  font-family: "Cairo", sans-serif;
}

.App.isArabic {
  direction: rtl;
}
.popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking-menu-container {
  position: fixed;
  top: 50px;
  left: 400px;
  z-index: 999;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid #e4e7ec;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.10196078431372549);
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
}


@media screen and (max-width: 1300px) {
  .tracking-menu-container {
    left: 310px;
  }
}
@media screen and (max-width: 1250px) {
  .tracking-menu-container {
    left: 250px;
  }
}
@media screen and (max-width: 1132px) {
  .tracking-menu-container {
    left: 200px;
  }
}
@media screen and (max-width: 1030px) {
  .tracking-menu-container {
    left: 180px;
  }
}
@media screen and (max-width: 768px) {
  .tracking-menu-container {
       
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 75%;
    
  }
}




.tracking-menu-container.isArabic {
  float: left;
  direction: ltr;
}
