.progress-bar-header-in-full-progress-bar {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.progress-tracker-in-full-progress-bar {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.progress-bar {
  display: flex;
  flex-direction: column;}
  @media (max-width: 641px) {
    .progress-bar{
        align-items: center;
    }
  }